* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1280px;
  padding-left: 30px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
}

.header__link {
  margin: 5px 60px 0px 5px;
}

.header__profile {
  display: none;
}

.header__search-form {
  display: flex;
  width: 835px;
  height: 40px;
  border: 1px solid #ebebf1;
  border-radius: 5px;
  margin-right: 60px;
}

.header__search-button {
  border: none;
  outline: none;
  background: url("../images/icon-search.svg") no-repeat 50% 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 7px 6px -31px 9px;
}

input[type="text"] {
  border: none;
  outline: none;
  font-size: 14px;
}

input::placeholder {
  color: #bbc4d6;
}

.header__info {
  display: flex;
  align-items: center;
  border-left: 1px solid #ebebf1;
  height: 80px;
}

.header__info > span {
  color: #768298;
  font-size: 14px;
  padding-left: 19px;
  margin-right: 8px;
}

.header__info > button > img {
  margin: 0px -2px -2px 2px;
}

hr {
  display: block;
  height: 0.5px;
  border: none;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  margin: 76px 0px 38px 4px;
}

.partners__info {
  display: flex;
  flex-wrap: wrap;
}

button {
  cursor: pointer;
  background-color: transparent;
}

.partners__info > button {
  border: 2px solid #ebebf1;
  border-radius: 5px;
  margin: 0px 27px 30px 4px;
  width: 287px;
  height: 120px;
}

.partners__info > button > img {
  height: 54%;
}

.partners__info > button:hover {
  box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 992px) {
  .wrapper {
    max-width: 768px;
    padding-left: 20px;
  }

  .header__link {
    margin: 0px 49px -6px 0px;
  }

  .header__search-form {
    border: 1px solid #ebebf1;
    border-radius: 5px;
    margin-right: 51px;
  }

  .header__info {
    margin-right: 23px;
  }

  h1 {
    font-size: 28px;
    margin: 75px 0px 37px 0px;
  }

  .partners__info > button {
    width: 229px;
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 18px;
  }

  .partners__info > button > img {
    height: 42%;
    padding: 0 22px;
  }
}

@media (max-width: 676px) {
  .wrapper {
    max-width: 375px;
  }

  .header {
    height: 105px;
    margin-top: 16px;
    flex-direction: column;
    align-items: flex-start;
  }

  .header__info {
    display: none;
  }

  .header__profile {
    display: flex;
    margin: -26px 0px 0px 310px;
  }

  .header__search-form {
    width: 375px;
    margin: 16px 0px 0px -20px;
    border-radius: 0;
    height: 42px;
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.1);
  }

  .header__search-button {
    margin: 9px 5px 0px 19px;
  }

  hr {
    display: none;
  }

  h1 {
    margin-top: 58px;
  }
  
  .partners__info {
    flex-direction: column;
    justify-content: center;
  }

  .partners__info > button {
    width: 335px;
    height: 140px;
    margin-bottom: 20px;
  }
  
  .partners__info > button > img {
    height: 47%;
  }
}
